* {
    margin: 0;
    padding: 0;
}

nav{
    background: #573994 ;
    color: black;
  
}
form{
    border: 1px solid;
    text-align: center;
    label {
        display: block;
    }
}

.productos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    justify-content: space-around;
    .card{
        margin: 0.5em;
    }
}


@media (max-width: 1300px) {
  .productos {
      display: grid;
      grid-template-columns: auto auto auto;
  }
        
}
@media (max-width: 1000px) {
    .productos {
        display: grid;
        grid-template-columns: auto auto;
    }
          
  }
@media (max-width: 600px) {
    main{
    
        .productos {
            display: block;
            justify-content: space-around;
            
        }
    }
        
}

//footer
footer{
    background: black;
    text-align: center;
    height: auto;
    font-size: 1em;
    justify-content: center;
    color: white;
    a {
        text-decoration: none;
        color: rgb(143, 22, 180);
    }
    a:hover{
        color: grey;
    }
}